@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    
}

:root{
    --yellow:#FCD34D;
    --light-yellow:#FFFBEB;
    --hover-yellow:#FDE68A;
}

body{
    background:var(--light-yellow);
}

.nav{
    padding:1.5rem;
    text-align : center;
    background-color:var(--yellow);
}

.banana{
    max-width:650px;
    height:27rem;
    margin:auto;
    padding:2.5rem 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    z-index:0;
}

#translateBtn{
    display: block;
    padding:0.5rem 1rem;
    background:var(--yellow);
    border:1px solid black;
}

#translateBtn:hover{
    background:var(--hover-yellow);
}

p{
    justify-content: flex-start;
}

#outputTxt,#inputTxt{
    padding:1rem;
    border: 1px solid black;
    width:100%;
    min-height:8rem;
    background:#fff;
    
}

footer{
    
    bottom:0;
    width:100%;
    background:var(--yellow);
    text-align:center;
    padding:1rem;
    line-height: 1.5rem;
}